h1 {
	
	color:White;
	text-shadow: navy 1px 0 20px;

}

div {
	font-size: small;
	;
}

th, td {
	border: 1px solid #bbb;
	padding: 2px 5px 0;
	text-align: left;
  }
  

table {
	border: 1px solid #555;
	border-collapse: collapse;
	font: 16px "Lucida Grande", "Helvetica", "Arial", sans-serif;
  }
  


  